

body {
    background-color: black;
    background: url(img/bakgrund.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 {
    text-align: center;
    margin: 0 auto;
   
    padding-bottom: 10px;
    
    

   
}


h2 {
    
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
    
    
    
}

h3 {
    
  
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
   
}

h4 {
   
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    
}
    


p {
    margin: 0 auto;
    
    width: 100%;
    height: 100%;
    padding-top: 15px;
        font-size: 15px;
       
    padding-bottom: 8px;
        
    
    
    
}

.contactButton {
    margin-bottom: 10px;
    margin-top: 10px;
    
    
}

li {
    
    font-size: 18px;
    font-weight: bold;
    
    
    
    
}



.navbar-brand {
    
    
    font-weight: bold;
         
    font-size: 200%;

        
        
}
   

     

.serif {
    
    font-size: 20px;
    padding-top:5px;
    
    
    
}

.serif1 {
    
    font-size: 17px;
    margin-top: -30px;
    
    
}

.serif2 {
    
    font-size: 17px;
    margin-top: -30px;
    
    
    
}

.serif3 {
    
    font-size: 14px;
    margin-top: -35px;
    
    
}

.serif4 {
    
    font-size: 16px;
    
    
    
}

IMG.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    
    
    
}



.containerhead {
	
	
	max-width: 1200px;
	margin: 0 auto;
    
    
}


    
}
.container {
	

	max-width: 1200px;
	margin: 0 auto;
   
    
   
}



.content {
	background-color: #ecf0f1;
	max-width: 1200px;
	margin: auto;
	padding-top: 15px;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom: 20px;
    padding-bottom: 15px;
   
    
  
	
}

.container-fluid {
    box-shadow: 0px 0px 10px #000000;
    
    
    
	
    
}

.fb-page {
   
    
    margin: 0 0 10px 10px;
  
}

.googleMap {
    
    
    
}

.col-xs-12 col-sm-6 col-lg-4 text-center{
   width: 100%;
   height: 100%;
   
   
    
    
}

.col-xs-12 col-sm-6 col-lg-4 {
   width: 100%;
   height: 100%;
   
    
    
}

.col-xs-12 col-sm-4 col-lg-2 span {
    margin-top:10px;
    
    
}

#tel, #mail {
  display: none;
}

footer  {
  

  
  height: auto;
  text-align: center;
  background-color: #ecf0f1;
  overflow: auto;
  background-color: #ecf0f1;
  max-width: 1200px;
  margin: 0 auto;
  
  box-shadow: 0px 0px 10px #000000;
  margin-bottom:10px;
   
}